<div class="keys">
    <div class="key" (click)="playNote($event)" (keydown.a)="playNote($event)">
        <audio #NoteC src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
        <span class="hints">A</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.W)="playNote($event)" style="left:7%;">
        <audio #NoteC src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
        <span class="hints">W</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.S)="playNote($event)">
        <audio #NoteD src="http://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
        <span class="hints">S</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.E)="playNote($event)" style="left:17%;">
        <audio #NoteDs src="http://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
        <span class="hints">E</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.D)="playNote($event)">
        <audio #NoteE src="http://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
        <span class="hints">D</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.F)="playNote($event)">
        <audio #NoteF src="http://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
        <span class="hints">F</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.T)="playNote($event)" style="left:37%;">
        <audio #NoteFs src="http://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
        <span class="hints">T</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.G)="playNote($event)">
        <audio #NoteG src="http://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
        <span class="hints">G</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.Y)="playNote($event)" (keydown.Z)="playNote($event)"
        style="left:47%;">
        <audio #NoteGs src="http://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
        <span class="hints">Y/Z</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.H)="playNote($event)">
        <audio #NoteA src="http://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
        <span class="hints">H</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.U)="playNote($event)" style="left:57%;">
        <audio #NoteAs src="http://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
        <span class="hints">U</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.J)="playNote($event)">
        <audio #NoteB src="http://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
        <span class="hints">J</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.K)="playNote($event)">
        <audio #NoteC2 src="http://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
        <span class="hints">K</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.O)="playNote($event)" style="left:77%;">
        <audio #NoteCs2 src="http://carolinegabriel.com/demo/js-keyboard/sounds/053.wav"></audio>
        <span class="hints">O</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.L)="playNote($event)">
        <audio #NoteD2 src="http://carolinegabriel.com/demo/js-keyboard/sounds/054.wav"></audio>
        <span class="hints">L</span>
    </div>
    <div class="key sharp" (click)="playNote($event)" (keydown.P)="playNote($event)" style="left:87%;">
        <audio #NoteDs2 src="http://carolinegabriel.com/demo/js-keyboard/sounds/055.wav"></audio>
        <span class="hints">P</span>
    </div>
    <div class="key" (click)="playNote($event)" (keydown.;)="playNote($event)">
        <audio #NoteE2 src="http://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
        <span class="hints">;</span>
    </div>
</div>