.main-card {
  text-align: center;
}

.main-card .mat-card-content {
  font-size: 18vh;
}

mat-checkbox {
  margin: 10px;
}

mat-card {
  margin: 5px;
}

.app-button {
  margin: 5px;
}

.mat-slider-horizontal {
  width: 300px;
}