<mat-sidenav-container [class.m2app-dark]="isDarkTheme">

	<mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
		<mat-toolbar>
			<mat-toolbar-row>
				<mat-icon class="close_x" (click)="sidenav.close()">close</mat-icon>								
			</mat-toolbar-row>
			<mat-toolbar-row>
				<mat-icon class="navicon">fitness_center</mat-icon>
				<span>Practice Modules</span>				
			</mat-toolbar-row>
			<mat-toolbar-row>
				<button mat-raised-button routerLink="/scales">SCALES</button>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<button mat-raised-button routerLink="/hearpitch">HEAR PITCH</button>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<button mat-raised-button routerLink="/singpitch">SING PITCH</button>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<mat-icon class="navicon">build</mat-icon>
				<span>Settings</span>
			</mat-toolbar-row>

			<mat-toolbar-row>
				<button mat-raised-button (click)="isDarkTheme = !isDarkTheme" class="app-sidebar-button">TOGGLE THEME</button>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<a href="https://www.paypal.me/basspracticeapp" target="_blank">
					<button mat-raised-button color="link" class="donationbutton">
						Donate
						<mat-icon class="dollaricon">
							attach_money
						</mat-icon>
					</button>
				</a>
			</mat-toolbar-row>
		</mat-toolbar>
	</mat-sidenav>
	<mat-toolbar color="primary">
		<button mat-button class="app-menu-button" (click)="sidenav.toggle()">
			<i class="material-icons">menu</i>
		</button>
		<span class="title">Bass Scale Practice (for Beginner and Badasses)</span>
	</mat-toolbar>
	
	<div class="app-content">
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>